 /* General body styling */
 body {
     font-family: Arial, sans-serif;
     background-color: #f4f4f4;
     margin: 0;
     padding: 0;
     text-align: center;
 }

 /* Header Styling */
 header {
     background: #333;
     color: white;
     padding: 20px 0;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
 }

 /* Estilos para el contenedor del buscador */
 .search-container {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
 }

 /* Estilos para el input de búsqueda */
 #searchInput {
     width: 100%;
     max-width: 400px;
     /* Ancho máximo del input */
     padding: 12px 20px;
     font-size: 16px;
     color: #333;
     background-color: #f9f9f9;
     border: 2px solid #ddd;
     border-radius: 20px;
     /* Bordes redondeados */
     box-sizing: border-box;
     transition: all 0.3s ease;
     /* Transición suave para cambios */
 }

 /* Estilos para el input cuando está enfocado */
 #searchInput:focus {
     border-color: #007BFF;
     /* Cambia el borde cuando está enfocado */
     background-color: #fff;
     /* Fondo blanco cuando está enfocado */
     box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
     /* Sombra suave alrededor */
     outline: none;
     /* Elimina el contorno predeterminado */
 }

 /* Placeholder estilizado */
 #searchInput::placeholder {
     color: #aaa;
     font-style: italic;
     /* Estilo en cursiva para el texto placeholder */
 }


 header h1 {
     margin: 0;
     font-size: 2rem;
     font-weight: bold;
 }

 /* Footer Styling */
 footer {
     background: #333;
     color: white;
     padding: 15px 0;
     position: fixed;
     bottom: 0;
     width: 100%;
     text-align: center;
     box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
 }

 footer p {
     margin: 0;
     font-size: 1rem;
 }

 .anime-section {
     margin-bottom: 50px;
     padding: 20px;
 }

 h2 {
     color: #333;
     margin-bottom: 20px;
 }

 /* Filter Styling */
 .filter-container {
     margin-top: 10px;
     margin-bottom: 30px;
     text-align: center;
 }

 .filter-container select {
     padding: 10px 20px;
     font-size: 16px;
     border-radius: 5px;
     border: 1px solid #ccc;
     width: auto;
 }

 /* Estilo de la lista de animes cargar todos a la ves ¡
.anime-list {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    padding: 20px 0;
    scroll-behavior: smooth;
    overflow-y: auto; 
    max-height: 400px; 
}*/

 /* Elimina cualquier animación de desplazamiento en el contenedor de la lista */
 .anime-list {
     display: flex;
     overflow-x: auto;
     padding: 20px 0;
     gap: 20px;
     flex-wrap: nowrap;
     scroll-behavior: unset;
     /* Desactiva cualquier desplazamiento suave */
 }

 /* Estilo para cada item de anime */
 .anime-item {
     flex: 1 0 10%;
     /* Hace que cada item ocupe el 21% del contenedor y sea flexible */
     height: auto;
     /* Mantiene la relación de aspecto de las imágenes */
     margin-bottom: 10px;
     /* Espacio entre los items */
     text-align: center;
     /* Centra el texto dentro del item */
     background-color: #f0f0f0;
     /* Fondo claro para los items */
     padding: 10px;
     /* Agrega relleno dentro de los items */
     border-radius: 8px;
     /* Bordes redondeados */
     box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
     /* Sombra sutil */
 }

 /* Estilo para las imágenes dentro de los items */
 .anime-item img {
     width: 100%;
     /* La imagen ocupa todo el ancho disponible */
     height: auto;
     /* Mantiene la proporción de la imagen */
     border-radius: 5px;
     /* Bordes redondeados en las imágenes */
 }

 /* Estilo para los títulos de los animes */
 .anime-title {
     margin-top: 8px;
     /* Espacio entre la imagen y el título */
     font-size: 12px;
     /* Tamaño más pequeño para el título */
     font-weight: bold;
     /* Título en negrita */
     color: #333;
     /* Color oscuro para el texto */
 }


 .loading {
     text-align: center;
     font-size: 18px;
     color: #555;
     margin-top: 20px;
 }

 .error {
     color: red;
 }

 /* Estilos básicos del modal */
 .modal {
     display: none;
     /* Inicialmente oculto */
     position: fixed;
     /* Fijo en la pantalla */
     z-index: 1;
     /* Para asegurarse de que está por encima de otros contenidos */
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.7);
     /* Fondo oscuro transparente */
     overflow: auto;
     padding-top: 50px;
     /* Espaciado superior */
 }

 /* Contenedor del contenido del modal */
 .modal-content {
     background-color: #fff;
     margin: auto;
     padding: 20px;
     border: 1px solid #888;
     width: 80%;
     /* Establecemos un ancho del 80% por defecto */
     max-width: 900px;
     /* Ancho máximo */
     max-height: 90%;
     /* Altura máxima */
     overflow-y: auto;
     /* Si el contenido excede, agrega scroll */
 }

 /* Estilo de la imagen en el modal */
 #animeImageModal {
     width: 80%;
     max-width: 200px;
     /* Limitar el tamaño máximo de la imagen */
     height: auto;
 }

 /* Información adicional a la derecha de la imagen */
 .modal-extra-info {
     margin-left: 20px;
     flex: 1;
     /* Permite que ocupe el espacio restante */
 }

 /* Encabezado y título */
 .modal-header {
     display: flex;
     flex-wrap: wrap;
     /* Permite que los elementos se ajusten */
     justify-content: space-between;
     align-items: flex-start;
 }

 /* Información extra (género, temporadas, etc.) */
 .modal-info {
     margin-top: 20px;
 }

 /* Responsividad para pantallas pequeñas */
 @media (max-width: 768px) {
     .modal-header {
         flex-direction: column;
         /* Apilar los elementos verticalmente */
         align-items: center;
     }

     #animeImageModal {
         max-width: 100%;
         /* Asegurarse de que la imagen sea responsiva */
         margin-bottom: 10px;
     }

     .modal-extra-info {
         margin-left: 0;
         /* Quitar el margen cuando los elementos estén apilados */
         text-align: center;
         /* Centrar la información */
     }

     .modal-content {
         width: 90%;
         /* Hacer el modal más pequeño en pantallas móviles */
         padding: 15px;
     }

     #translateButton {
         width: 100%;
         /* Hacer que el botón ocupe todo el ancho */
     }

     /* Reducción del tamaño y ajuste de la posición del botón de cerrar */
     .close {
         top: 10px;
         right: 10px;
         font-size: 24px;
         /* Reducir tamaño */
         padding: 8px;
         /* Reducir padding */
     }

     .filter-container {
         flex-direction: column;
         /* En pantallas pequeñas, se apilan los filtros verticalmente */
         align-items: flex-start;
         /* Alinea los elementos al principio */
     }

     .filter-container select {
         width: 100%;
     }

     #tempoYearFilter {
         margin-bottom: 5px;
     }
 }

 @media (max-width: 480px) {
     .modal-content {
         width: 95%;
         /* Usar un 95% en pantallas muy pequeñas */
         padding: 10px;
         /* Menos padding en pantallas pequeñas */
     }

     #animeImageModal {
         max-width: 80%;
         /* Asegurarse de que la imagen sea responsiva */
         height: auto;
     }

     /* Ajustes aún más pequeños para pantallas muy pequeñas */
     .close {
         top: 5px;
         /* Reducir aún más la distancia superior */
         right: 5px;
         /* Reducir la distancia desde el borde */
         font-size: 18px;
         /* Reducir el tamaño del texto */
         padding: 5px;
         /* Reducir el padding */
     }
 }

 /* Estilos del botón de cerrar */
 .close {
     color: #aaa;
     font-size: 28px;
     font-weight: bold;
     position: absolute;
     top: 15px;
     right: 20px;
     padding: 10px;
     cursor: pointer;
     transition: color 0.3s ease;
 }

 .close:hover {
     color: #333;
 }

 /* Pagination Styling */
 .pagination-container {
     display: flex;
     align-items: center;
     /* Alinea los elementos verticalmente */
     justify-content: center;
     /* Centra los elementos horizontalmente */
     gap: 15px;
     /* Espacio entre los botones y la información */
     margin-top: 20px;
     /* Espacio superior */
 }

 .pagination-container button {
     padding: 10px 20px;
     /* Estilo de los botones */
     background-color: #333;
     color: white;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     font-size: 14px;
 }

 .pagination-container button:disabled {
     background-color: #dcdcdc;
     /* Color cuando está deshabilitado */
     cursor: not-allowed;
 }

 .pagination-container div {
     font-size: 14px;
     font-weight: bold;
     color: #333;
 }